@import "./reset.css";
@import "./theme.css";

header {
  height: 100vh;
  background: linear-gradient(45deg, black, transparent), var(--banner-image);
  background-size: cover;
  background-position: center;
  padding: 10vw 0;
}

/* Handle mobile version FIRST */
/* THEN style desktop version */

/* @media only screen and (min-aspect-ratio: 5 / 8) and (min-width: 768px) { */