@import "./reset.css";
@import "./theme.css";

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 2;
}

header {
  background: linear-gradient(0deg, rgba(23, 16, 50, 0.641), transparent), var(--banner-image);
  background-size: 120vh;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-position-y: attr(data-parallax-offset vh);
}

header div#logo {
  width: 80vw;
}

header div#transition_header {
  padding-top: 100vh;  
  color: transparent;
  /* this is transition upwards */
  /* transition: padding 1.5s ease-in-out 1s;
  transition: color 1.5s ease-in-out 1s; */

}

header h1 {
  font-size: 6.5vw;
  /* font-weight: 800; */;
  color: inherit;
}

header h2 {
  font-size: 4vw;
  font-weight: 400;
  color: inherit;
}

section {
  padding: 1rem;
}

h2 {
  font-size: 2.4rem;
  color: var(--body-header-color);
  line-height: 2;
}


p {
  font-family: Lato;
  margin: 0 1rem 2rem 1rem;
  font-size: 1.1rem;
}
section#map iframe {
  max-width: 95%;
  margin: auto;
}

section#news_feed {
  margin: auto;
}

section#news_feed iframe {
  margin-top: 2rem;
  width: -webkit-fill-available;
}

section#news_feed iframe p {
  font-size: 2rem;
}

footer {
  text-align: center;
}

footer p {
  margin-top: 2rem;
}
/* Handle mobile version FIRST */
/* THEN style desktop version */

/* @media only screen and (min-aspect-ratio: 5 / 8) and (min-width: 768px) { */